---
layout: main
title: About Airport Pianos
---

# {{title}} 🎹

_airportpianos.org_ curates the location of pianos around the world. This site is ad-free and tracker-free.

This project is run by [capjamesg](https://jamesg.blog).

## Contact

I'd love your help to expand this project. Here are some ways you can contribute:

- Tell me about an airport piano that isn't listed on this site;
- Tell me about an airport piano that is listed on this site, but has been removed, or;
- Donate a piano to your local airport!

You can reach me at [readers [at] jamesg [dot] blog](mailto:readers@jamesg.blog).