---
layout: main
title: Find an Airport Piano
---
<style>
    p, li, th, td {
        font-size: 1em;
    }
    th {
        text-align: left;
    }
    table {
        border-collapse: separate; 
        display: table;
        width: 100%;
        border-spacing: 0 1em;
    }
    tr {
        padding: 1em 0;
        display: table-row;
    }
    th:last-child,
    td:last-child {
        text-align: right;
    }
</style>
<h1>Find an Airport Piano</h1>
<p>Airport Pianos lists airport pianos around the world.</p>
<p>Seen a piano? <a href="https://forms.jamesg.blog/forms/airport-pianos/">Submit it to the website</a>.</p>
<h2>Search</h2>
<search>
    <input type="search" placeholder="Search by airport name or IATA code" id="search" />
</search>
<table class="h-feed">
    <thead>
        <tr>
            <th>Location</th>
            <th>Code</th>
            <th>Last Confirmed</th>
        </tr>
    </thead>
    <tr id="no-results" style="display: none;"><td>No results found.</td><td></td><td></td></tr>
    {% for airport in site.pianoss | sort (attribute='iata') %}
    <tr class="h-entry">
        <td><a href="/pianos/{{airport.slug}}/" class="u-url p-name">{{airport.title}}</a></td>
        <td>{{airport.iata}}</td>
        <td>{% if airport.lastConfirmed %}{{ airport.lastConfirmed }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>

<script>
    var search = document.getElementById('search');
    // var resultsCount = document.getElementById('results-count');

    function searchPage(query) {
        var pianos = document.querySelectorAll('.h-entry');

        var count = 0;

        pianos.forEach(function(piano) {
            var name = piano.querySelector('.p-name').textContent.toLowerCase();
            var iata = piano.querySelector('.u-url').textContent.toLowerCase();

            // if the query is in the name or IATA code, show the piano
            if (name.includes(query) || iata.includes(query)) {
                piano.style.display = 'table-row';
                count++;
            } else {
                piano.style.display = 'none';
            }
        });
        // resultsCount.textContent = count;

        if (count === 0) {
            document.getElementById('no-results').style.display = 'table-row';
        } else {
            document.getElementById('no-results').style.display = 'none';
        }
    }
    
    // run a search if ?q is in the URL
    var urlParams = new URLSearchParams(window.location.search);
    var query = urlParams.get('q');

    if (query) {
        search.value = query;
        console.log('searching for', query);
        searchPage(query);
    }
    search.addEventListener('keyup', function(e) {
        var query = e.target.value.toLowerCase();
        searchPage(query);
    });
</script>

<style>
    table {
        background-color: #f9f9f9;
    }
</style>


<p style="font-style: italic;">View as <a href="https://airportpianos.org/_data/airports.json">JSON</a>.</p>

<p>For more airport pianos, check out <a href="https://pianos.pub">pianos.pub</a> and search for your local airport.</p>
