---
layout: main
pagination:
    data: airports
    size: 1
    alias: airport
permalink: "airports/{{ airport.iata }}"
title: "{{ airport.name }}"
url: "{{site.url}}/airports/{{ airport.iata }}"
---

<style>
    #map { height: 200px; max-width: 35em; }
</style>

<h1>{{ airport.name }} ({{ airport.iata }})</h1>

<p>Location: {{ airport.city }}, {{ airport.country }}</p>

<div id="map"></div>

<h2>Pianos at {{ airport.name }}</h2>

<p>{{ airport.description }}</p>

<script>
    var map = L.map('map').setView([{{ airport.lat }}, {{ airport.lon }}], 13);
    const tiles = L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

    L.marker([{{ airport.lat }}, {{ airport.long }}]).addTo(map)
        .bindPopup('{{ airport.name }} ({{ airport.iata }})');
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Airport Pianos",
        "item": "https://airportpianos.org"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Find a Piano",
        "item": "https://airportpianos.org/pianos"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ airport.name }}",
        "item": "https://airportpianos.org/{{ airport.iata }}"
      }]
    }
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Does {{ airport.name }} have a piano?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{% if airport.hasPiano %}Yes{% else %}No{% endif %}, {{ airport.description }}."
        }
      }, {
        "@type": "Question",
        "name": "Where is the piano at {{ airport.name }}?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ airport.pianoShortLocation }}."
        }
      }]
    }
</script>