<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }}</title>

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/assets/css/styles.css">

        <link rel="manifest" href="/assets/manifest.json">

        <meta name="description" content="Resources to help donate pianos to airports.">

        <meta name="og:title" content="{{ title }}">
        <meta name="og:description" content="Resources to help donate pianos to airports.">
        <meta name="og:image" content="https://images.pexels.com/photos/1246437/pexels-photo-1246437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    </head>
    <body>
        {% include "content.njk" %}
    </body>
</html>