<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ page.title }}</title>

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="{{ site.root_url }}/assets/css/styles.css">

        <link rel="manifest" href="{{ site.root_url }}/assets/manifest.json">

        <meta name="twitter:card" content="summary_large_image">

        <meta name="description" content="Resources to find a piano and to help donate pianos to airports.">

        <meta name="og:title" content="{{ title }}">
        <meta name="og:description" content="Resources to help donate pianos to airports.">
        <meta name="og:image" content="/assets/background.jpeg">
        {% if page.type == "piano" %}
        <link rel="edit" href="https://github.com/capjamesg/airport-pianos/edit/main/pages/_data/pianos/{{ page.iata.lower() }}.json" />
        {% endif %}
        <link rel="me" href="mailto:jamesg@jamesg.blog">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="webmention" href="https://webmention.io/airportpianos.org/webmention" />
        <style>
            * {
                font-family: "Noto Sans";
            }
            .nav-inner {
                max-width: 50em;
                margin: auto;
            }
            svg {
                height: 1em;
                width: 1em;
                margin-right: 0.5em;
            }
        </style>
    </head>
    <body>
        <nav><div class="nav-inner">
            <a href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><line x1="24" y1="216" x2="168" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M88,116.51,58.65,88a8,8,0,0,1,2.2-13.3L68,72l57.53,21.17,54.84-32.75a32,32,0,0,1,41,7.32L240,91.64l-147.41,88a32,32,0,0,1-38-4.32L18.53,140a8,8,0,0,1,2.32-13.19L24,125.27,55.79,136Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>Airport Pianos</a>
            <ul>
                <li><a href="/">Find a Piano</a></li>
                <li><a href="/add">Add a Piano</a></li>
            </ul>
            </div>
        </nav>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>
