---
title: "{{ page.title }}"
layout: main
---

<p class="breadcrumbs"><a href="/">Airport Pianos</a> &gt; <a href="/pianos">Find a Piano</a> &gt; {{ page.title }}</p>

<article class="h-entry h-geo h-review-aggregate">
    <h2 class="p-name">Pianos at {{ page.title }}</h2>

    <p>{{ page.description }}</p>

    <p>Have a photo of the piano? <a href="/add">Contribute to Airport Pianos</a>.</p>

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Airport Pianos",
            "item": "https://airportpianos.org"
        },{
            "@type": "ListItem",
            "position": 2,
            "name": "Find a Piano",
            "item": "https://airportpianos.org/pianos"
        },{
            "@type": "ListItem",
            "position": 3,
            "name": "{{ page.title }}",
            "item": "https://airportpianos.org/{{ page.iata }}"
        }]
        }
    </script>

    {% if page.rating %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "Product",
                "name": "{{ page.title }} Piano",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "{{ page.rating }}",
                    "bestRating": "5",
                    "ratingCount": "{{ page.reviews }}"
                }
            }
        </script>
    {% endif %}

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [{
            "@type": "Question",
            "name": "Does {{ page.title }} have a piano?",
            "acceptedAnswer": {
            "@type": "Answer",
            "text": "{% if page.hasPiano %}Yes{% else %}No{% endif %}, {{ page.description }}."
            }
        }, {
            "@type": "Question",
            "name": "Where is the piano at {{ page.title }}?",
            "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ page.pianoShortLocation }}."
            }
        }]
        }
    </script>
</article>
